@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Apply Inter font and background color */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}
